html, body {
    width: 98%;
	min-width: 98%;
    max-width: 98%;
	height: 98%;
	min-height: 98%;
    max-height: 98%;
    background-color: black;
    overflow: hidden;
}
.planetary-text {
    color: white;
    font-size: 0.6em;
    font-family: 'Work Sans';
    overflow: visible;
    text-align: center;
}
.rotated {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
           -transform: rotate(180deg);
}
.hidden {
    display: none;
}
.fa-toggle-off, .fa-toggle-on{
    cursor: pointer;
}
#footer{
    position: fixed;
    bottom: 0.5em;
    right: 0.65em;
    font-size: 0.7em;
    font-style: italic;
    cursor: pointer;
}
#footer:hover{
    font-style: normal;
    color: lightgreen;
}
#sun {
	border-radius: 50%;
	width: 8vmin;
	height: 8vmin; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4vmin; 
    margin-left: -4vmin;
    background-color: orange;
	border-color: rgba(255,165,0,0.8);
    border-width: 0.25vmin;
    border-style: solid;
    border-radius: 50%;
    
    box-shadow: 0px 0px 5vmin yellow, 
                inset 0.5vmin 0px 1vmin rgba(255,255,0,0.4),
                inset 0px 0.5vmin 1vmin rgba(255,255,255,0.15),
                inset -0.5vmin 0px 0.75vmin rgba(255,128,128,0.4),
                inset 0.5vmin -0.5vmin 1vmin rgba(255,69,0,0.75),
                inset 0.5vmin 0.5vmin 1.5vmin rgba(255,165,0,0.25),
                inset 0.5vmin -0.5vmin 0.75vmin rgba(255,255,0,0.4),
                inset -0.5vmin 0.5vmin 1vmin rgba(255,69,0,0.5),
                inset -0.5vmin -0.5vmin 0.5vmin rgba(255,228,255,0.25);
}
#sun-text{
    font-size: 1em;
    color: rgba(228,228,228,0.8);
}
#secondury {
    position: absolute;
    top: -4%;
    left: 48%;
    
    height: 1.4vmin;
    width: 1.4vmin;
	background-color: red;
	border-color: maroon;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%;
    box-shadow: inset 0.25vmin 0.35vmin 0.7vmin rgba(0,0,0,0.45);
}
#secondury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 22vmin;
    height: 22vmin;
    margin-top: -10.75vmin;
    margin-left: -11vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%;
}
#secondury-text{
    font-size:0.5em;
}
#minnus {
	position: absolute;
    top: -4.5%;
    left: 47.5%;
    
    height: 2.8vmin;
    width: 2.8vmin;
	background-color: coral;
	border-color: orangered;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%;	
    box-shadow: inset 0.25vmin 0.7vmin 1.4vmin rgba(0,0,0,0.45);
}
#minnus-orbit {
	position: absolute;
    top: 50%;
    left: 50%;

    width: 29vmin;
    height: 29vmin;
    margin-top: -14.5vmin;
    margin-left: -14.5vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%;	
}
#minnus-text{
     font-size: 0.75em;
}
#hourth {
	position: absolute;
    top: -5%;
    left: 47%;
    
    height: 3.6vmin;
    width: 3.6vmin;
	background-color: cornflowerblue;
	border-color: royalblue;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%;   
    box-shadow: inset 0.25vmin 0.9vmin 1.45vmin rgba(0,0,0,0.45);	
}
#hourth-orbit {
	position: absolute;
    top: 50%;
    left: 50%;

    width: 38vmin;
    height: 38vmin;
    margin-top: -19vmin;
    margin-left: -19vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%;	
}
#hourth-text{
    font-size:1em;
}
#wekars {
    position: absolute;
    top: -3%;
    left: 49%;
    
    height: 2.4vmin;
    width: 2.4vmin;
    background-color: salmon;
    border-color: tomato;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%; 
    box-shadow: inset 0.25vmin 0.6vmin 1.2vmin rgba(0,0,0,0.3);
}
#wekars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 47vmin;
    height: 47vmin;
    margin-top: -23.5vmin;
    margin-left: -23.5vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%; 
}
#wekars-text{
    font-size:0.6em;
}
#monter {
    position: absolute;
    top: -5%;
    left: 47%;
    
    height: 6vmin;
    width: 6vmin;
    background-color: slategray;
    border-color: darkslategrey;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%; 
    box-shadow: inset 0.25vmin 1.5vmin 3vmin rgba(0,0,0,0.5);
}
#monter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 58vmin;
    height: 58vmin;
    margin-top: -29vmin;
    margin-left: -29vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%; 
}
#monter-text{
    font-size:1.5em;
}
#yeurn {
    position: absolute;
    top: -2%;
    left: 50%;
    
    height: 2.2vmin;
    width: 2.2vmin;
    background-color: seagreen;
    border-color: darkslategrey;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%; 
    box-shadow: inset 0.25vmin 0.5vmin 1.3vmin rgba(0,0,0,0.5);
}
#yeurn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 67vmin;
    height: 67vmin;
    margin-top: -33.5vmin;
    margin-left: -33.5vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%; 
}
#yeurn-text{
    font-size:0.45em;
}
#decadus {
    position: absolute;
    top: -1%;
    left: 51%;
    
    height: 1.6vmin;
    width: 1.6vmin;
    background-color: cadetblue;
    border-color: dimgray;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%; 
    box-shadow: inset 0.25vmin 0.4vmin 1vmin rgba(0,0,0,0.45);
}
#decadus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 75vmin;
    height: 75vmin;
    margin-top: -37.5vmin;
    margin-left: -37.5vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%; 
}
#decadus-text{
    font-size:0.55em;
}
#centune {
    position: absolute;
    top: -1%;
    left: 51%;
    
    height: 1.2vmin;
    width: 1.2vmin;
    background-color: indigo;
    border-color: midnightblue;
    border-width: 0.05vmin;
    border-style: solid;
    border-radius: 50%; 
    box-shadow: inset 0.25vmin 0.3vmin 1vmin rgba(0,0,0,0.45);
}
#centune-orbit {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 80vmin;
    height: 80vmin;
    margin-top: -40vmin;
    margin-left: -40vmin;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.15);
    border-radius: 50%; 
}
#centune-text{
    font-size:0.45em;
}